<!--CSS公共类管理-->
<link rel="stylesheet" href="../../css/commonLess/reset.css">
<!-- reset样式 -->
<link rel="stylesheet" href="../../resource/layui/css/layui.css">
<!--layui css-->
<link rel="stylesheet" href="../../css/commonLess/common.css">
<!-- 公共样式 -->


<!--JS公共类管理-->
<script src="../../js/common/jquery.js"></script>
<!--JQ-->
<script src="../../resource/layui/layui.js"></script>
<!--layui js-->
<script src="../../js/common/common.js"></script>
<script src="../../js/common/loadMenu.js"></script>
<!--加载左侧栏目-->
<script src="../../resource/template.js"></script>